.THIS {
}

.THIS .color {
    height: 100px;
    width: 100px;
    display: flex;
    background-color: rgb(255, 0, 0);
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.THIS .limpia {
    height: 100px;
    width: 100px;
    display: flex;
    color: black;
    border: 2px solid black;
    font-size: 24px;
    font-weight: bold;
}
.THIS tr{
    display: flex;
    font-weight: bold;
    width: 100%;
}

.THIS td{
    font-weight: bold;
}

.THIS table{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}
.THIS input{
    font-size: 24px;
    font-weight: bold;
    width: 50px;
    height: 100%;
    border: 0px;
    background-color: transparent;
    text-align: center;
}

.THIS .btn{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: transparent;
    text-align: center;
}